<h1>Listing pins</h1>

<table class="table table-striped">
  <tr>
    <thead>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </thead>
  </tr>
 
  <tbody>
    <%= render @pins %>
  </tbody>
</table>

<br />

<%= link_to 'New Pin', new_pin_path %>
